name: CI/CD Pipeline 
 
on: 
  push: 
    branches: [ main ] 
 
jobs: 
  test: 
    runs-on: ubuntu-latest 
 
    steps: 
    - uses: actions/checkout@v3 
 
    - name: Setup Node.js 
      uses: actions/setup-node@v3 
      with: 
        node-version: '18' 
 
    - name: Install dependencies 
      run: npm install 
      working-directory: ./app/backend 
 
    - name: Run tests 
      run: npm test 
      working-directory: ./app/backend 
 
  build: 
    needs: test 
    runs-on: ubuntu-latest 
 
    steps: 
    - uses: actions/checkout@v3 
 
    - name: Build Docker image 
      run: docker build -t backend-devops ./app/backend 
